# Homework 1 (Due Tuesday, March 22, 2022 at 6:29pm PST)

**Rubric**
* Identified 4 major themes from the reviews (2pts)
* Regex that groups / cleans the reviews is correctly implemented (4pts)
* Word count is correctly implemented (2pts)
* Analysis of recommendations and pitfalls/limitations are specific enough to be actionable (2pts)
* 

Not actionable recommendation:
* *The store managers should consider trying to improve the drive through experience to be more pleasant for customers*
* *Drive throughs are mentioned 23% of the time in reviews, and often focus on how slow the service is. We recommend adopting parallel drive through stations for Atlanta and Chicago*

You are a business analyst working for McDonalds. First, read through the reviews in `mcdonalds-yelp-negative-reviews.csv` (found in `datasets` folder). 

1. Identify 4 recurring themes/topics that reviewers are unhappy with. For example, one theme is that users are consistently unhappy with the drive-through experience.

2. Next, using regex, group together all occurrences of these phrases. For example, `drive-thru`, `drive through`, `drivethrough` can all be replaced as `_DRIVE_THROUGH_`.

3. Perform a word count, both overall, and broken out by city.

4. **Provide a few sentences with your findings and business recommendations.** Make any assumptions you'd like. I just want you to get into the habit of "finishing" your analysis: to avoid delivering technical numbers to a non-technical manager.

Some considerations in your analysis:

* Explain what some of **pitfalls/limitations** are of using only a word count analysis to make these inferences. What additional research/steps would you need to do to verify your conclusions?

**Submit everything as a new notebook and Slack direct message (group message) to me (Yu Chen) and the TAs (Mengqi Tan and Siyuan Ni) the HW as an attachment.**

**NOTE**: Name the notebook `lastname_firstname_HW1.ipynb`.

Every day late is -10%.

#### 1.

4 recurring themes/topics that reviewers are unhappy with are :

i)  Poor & slow customer service

ii)  Filthy and unclean environment inside the store

iii) Unfriendly and Rude staff and management

iv) Cold and bad quality of food

#### 2.

In [327]:
###IMPORT DATA

import pandas as pd
import re
data=pd.read_csv("../datasets/mcdonalds-yelp-negative-reviews.csv", encoding="latin1")
data.head()

    _unit_id     city                                             review
0  679455653  Atlanta  I'm not a huge mcds lover, but I've been to be...
1  679455654  Atlanta  Terrible customer service. I came in at 9:30pm...
2  679455655  Atlanta  First they "lost" my order, actually they gave...
3  679455656  Atlanta  I see I'm not the only one giving 1 star. Only...
4  679455657  Atlanta  Well, it's McDonald's, so you know what the fo...

In [328]:
#THEME1
data['Theme']=data['review'].str.replace(r'\b([P|p]oor)|\b([S|s]low)|\b([T|t]errible)|\b([W|w]rong)|\b([L|l]ost)|\b([f|f]ail)','_CustService_',regex=True)

In [329]:
#THEME2
data['Theme']=data['Theme'].str.replace(r'\b([F|f]ilthy)|\b([U|u]nclean)|\b([D|d]irty)','_OverallHygiene_',regex=True)

In [330]:
#THEME3
data['Theme']=data['Theme'].str.replace(r'\b([U|u]nfriendly)|\b([R|r]ude)|\b([u|U]nkind)|\b([A|a]ttitude)',\
                                             '_StaffandMgmt_',regex=True)

In [331]:
#THEME4
data['Theme']=data['Theme'].str.replace(r'([b|B]ad [q|Q]uality)|\b([c|C]old)|\b([m|M]icrowave)',\
                                         '_QualofFood_',regex=True)

In [338]:
data.head()

,_unit_id,city,review,Theme
0,679455653,Atlanta,"I'm not a huge mcds lover, but I've been to be...","I'm not a huge mcds lover, but I've been to be..."
1,679455654,Atlanta,Terrible customer service. I came in at 9:30pm...,_CustService_ customer service. I came in at 9...
2,679455655,Atlanta,"First they ""lost"" my order, actually they gave...","First they ""_CustService_"" my order, actually ..."
3,679455656,Atlanta,I see I'm not the only one giving 1 star. Only...,I see I'm not the only one giving 1 star. Only...
4,679455657,Atlanta,"Well, it's McDonald's, so you know what the fo...","Well, it's McDonald's, so you know what the fo..."

#### 3.

In [332]:
#Split the updated reviews into words
s=data['Theme'].str.split(expand=True).stack().value_counts()
s

the            6208
I              4330
and            4070
to             3953
a              3426
               ...
replaced.         1
Following         1
DFW               1
playplaces,       1
guest.            1
Length: 17315, dtype: int64

In [333]:
#OVERALL SPLIT BY THEMES(keywords)

result = s.filter(items = ['_CustService_','_OverallHygiene_','_StaffandMgmt_','_QualofFood_'])
result

_CustService_       280
_OverallHygiene_     49
_StaffandMgmt_      123
_QualofFood_         83
dtype: int64

In [334]:
## SPLIT BY CITY and THEME (keywords)

result2=data.set_index('city')['Theme'].str.split(expand=True).stack().to_frame('Theme').reset_index()

In [335]:
result2=result2[result2['Theme'].isin(['_CustService_','_OverallHygiene_','_StaffandMgmt_','_QualofFood_'])].groupby(['city','Theme']).size()

In [336]:
result2

city         Theme
Atlanta      _CustService_       38
             _OverallHygiene_     9
             _QualofFood_         7
             _StaffandMgmt_      12
Chicago      _CustService_       42
             _OverallHygiene_     4
             _QualofFood_        19
             _StaffandMgmt_      13
Cleveland    _CustService_       17
             _OverallHygiene_     2
             _StaffandMgmt_       6
Dallas       _CustService_       13
             _OverallHygiene_     2
             _QualofFood_         2
             _StaffandMgmt_       6
Houston      _CustService_       22
             _OverallHygiene_     3
             _QualofFood_         5
             _StaffandMgmt_       6
Las Vegas    _CustService_       78
             _OverallHygiene_    12
             _QualofFood_        31
             _StaffandMgmt_      39
Los Angeles  _CustService_       30
             _OverallHygiene_     6
             _QualofFood_         4
             _StaffandMgmt_      14
New York     _CustService_       14
             _OverallHygiene_     3
             _QualofFood_         3
             _StaffandMgmt_      11
Portland     _CustService_       12
             _OverallHygiene_     5
             _QualofFood_         8
             _StaffandMgmt_       7
dtype: int64

#### 4.

### Business Recommendations

1. Customer service seems to be a a constant problem across all McDonalds Locations. McDonalds needs to ensure that customer satisication is being looked into with a concentrated effort to address slowness and correctness in terms of order fulfillment

2. In Several locations like Las Vegas, New York, Chicago and Los Angeles the number of instances of staff being rude and unfriendly have been large which should be looked into and necessary steps like reorganization and adequate training should be taken.

3. Overall Hygiene should be paramount and McDonalds should look to maintain a zero tolerant policy in terms of cleanliness and ensure that all surroundings are fresh, sanitized and clean at all times for a good customer experience

4. Quality of Food should at all times top notch with the brand value at stake. McDonalds should stand for fast food which is the freshest and tastiest. Steps should be taken to ensure all fresh items are being used to fulfill the orders at all time. Microwaving of old items should not be acceptable, serving cold food should mean stern action against the perpetrtor in teh respective store.


##### Pitfalls/Limitations to be addressed

a) The word count analysis is not useful at all times since it is very difficult to sometime understand the context of the sentence. A word like 'slow' might be used in multiple contexts and might not always be talking about customer service. This issue cannot be addressed by a word count analysis and might potentially skew the real picture for us

b) The word count pertaining a review might not necessarily bring out the real sentiment of the review and will no thus be a good indicator of the real situation

c) For the word count be more effective we need to make a more 'capturing group', a regex expression might not capture all the relevant bits and pieces of information in our dataset